flask
line-bot-sdk
wheel
grpcio
google-cloud-firestore
flask_cors
line-bot-sdk
google-cloud-storage
pandas
gunicorn
google-cloud-logging
tensorflow-cpu
Pillow
flask_ngrok
Pillow
google-cloud-bigquery
google-cloud-bigquery-storage
BigQuery-Python
pyarrow
google-cloud-speech
