<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>留言給愛廚易</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row" style="margin: 10px">
    <div class="col-11" style="margin: 10px">
        <label class="text-secondary h5">姓名：</label>
        <input type="text" id="name" class="form-control"/>
        <label class="text-secondary h5">留言內容：</label>
        <textarea name="message" id="comment" class="form-control" rows="8" cols="35"
                  placeholder="如果希望收到我們的回覆，請記得附上您的email或其他聯絡方式:D"></textarea>
        <br/>
        <button class="btn btn-success btn-block" id="sure" onclick="pushMsg()">確定</button>
    </div>
</div>

<script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>

        function initializeLiff(myLiffId) {
            liff.init({
            liffId: myLiffId,
<!--            withLoginOnExternalBrowser: true,-->
            });
        }

		function pushMsg(pname, pcomment) {
			if (pname == '' || pcomment == '') {  //資料檢查
				alert('每個項目都必須輸入！');
			 	return;
			}
			var msg = "###";  //回傳訊息字串
			msg = msg + pname + "/";
			msg = msg + pcomment;
			liff.sendMessages([  //推播訊息
				{ type: 'text',
				  text: msg
				}
			])
				.then(() => {
                    window.alert('Message sent');
					liff.closeWindow();  //關閉視窗
				})
				.catch(error => alert(error));
		}

		$(document).ready(function () {
			initializeLiff('{{ myliffid }}');  //接收傳遞的 liffid 參數
			$('#sure').click(function (e) {  //按下確定鈕
				pushMsg($('#name').val(), $('#comment').val());
			});
		});
	</script>
</body>
</html>