<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>留言給愛廚易</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="margin: 10px">
        <div class="col-11" style="margin: 10px">
            <label class="text-secondary h5">姓名：</label>
            <input type="text" id="name" class="form-control" />
            <label class="text-secondary h5">建議內容：</label>
            <textarea name="message" id="comment" class="form-control" rows="8" cols="35" placeholder="請寫下您的建議，愛廚易感謝您～"></textarea>
            <br />
            <button class="btn btn-success btn-block" id="sure">確定</button>
        </div>
    </div>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>

</body>
</html>