<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/font-awesome/font-awesome.min.css">
    <title>查詢結果</title>
</head>

<body>
    <div class="container">
        <div class="container-sm custom-center">
            <h2 class="my">{{ nickname }} 收藏的食譜</h2>
            {% for item in search_result %}
            <div>
                <form action="" method="post" id="{{ search_result[item]['recipe_id'] }}">
                    <a class="recipe" href="{{search_result[item]['recipe_url']}}">{{ search_result[item]['recipe_name'] }}</a>
                    <input type="submit" value="—" class="btn"
                        name="{{ search_result[item]['recipe_id'] }}" style="float: right">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="notes">
        <p>說明：更多說明請見<a href="https://home.ai-touille.fun" class="inline-link">愛廚易AI-touille</a>網站
        </p>
    </div>


    <!-- <footer>
        <div class="footer-container">
            <p>©2021 made with ❤ by <a href='https://github.com/linbeta'>Beta Lin</a>
                - view source code on <a href="https://github.com/linbeta/5000_quick_search/tree/cloud-run">GitHub</a>
            </p>
        </div>
    </footer> -->

</body>